body,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif !important;
}

body {
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 700;
    color: #222222;
    letter-spacing: -1px;
}

#header-container {
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);
}

.outer {
    width: 100%;
}

#header-container .inner {
    padding: 50px 10px 30px 10px;
}

.inner {
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
    margin: 0 auto;
}

a#github-account {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

a#linkedin-profile {
    display: block;
    float: right;
    width: 90px;
    height: 70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../images/sprite_download.png) no-repeat bottom left;
}

#title {
    margin: 0;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
}

#descline {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
    padding-bottom: 10px;
}

#content-container {
    background: #f2f2f2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

#footer-container {
    background: #212121;
}

footer p {
    color: #f2f2f2;
}

p {
    margin: 10px 0 15px 0;
}

#main-content {
    padding-top: 40px;
}

li span {
    font-weight: bold;
}

